# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment directories
venv/
env/

# Environment variables file
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# MacOS files
.DS_Store

# Other files to ignore
*.log
